@{
    ViewData["Title"] = "Home Page Date: 13-aug-2023 -changed";
}

<div class="text-center">
    <h1 class="display-4">Welcome !This page has been laod from AWS Code Build!!!</h1>
    <p>Learn about- CD! Change done on 26/07/2023 <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
